@font-face {
  font-family: a-space-italic;
  src: url(../public/fonts/a-space.italic.otf);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

#wrapper {
  width: 80vw;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #001220;
  color: white;
}

/* Menu y navbar */

nav {
  z-index: 50;
  width: 100vw;
  height: 8vh;
  position: fixed;
  top: 0.5em;
}

nav div {
  background-color: #33414d;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  padding: 0.5rem;
}
nav a {
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
}

nav a span {
  color: #fff;
  font-family: a-space-italic;
  text-decoration: none;
  border-radius: 0.5rem;
  display: inline-block;
}

nav a:hover {
  background-color: #011220;
}

nav a:hover span {
  transform: translateY(-5px);
}

.menu-toggle {
  display: none;
  margin: 1rem 0 0 1rem;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}
/* Fin de menu y navbar */

/* Footer */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-item {
  text-align: center;
}

.footer-item p {
  margin-bottom: 1rem;
}

.social-icon {
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #007bff;
}

.footer-item.vertical {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.footer-item.vertical a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.footer-item.vertical a:hover {
  text-decoration: underline;
}

/* Fin de footer */

.text-l {
  font-size: larger;
}

/*Detalles de los planetas*/

.planets-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  margin-bottom: 1rem;
}

/* Fin de detalles de los planetas */

/* Estilos del acordeón */
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#info h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  font-family: a-space-italic;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

/* Fin de acordeón */

/* Sección de ubicación */
#location h2 {
  text-align: center;
  font-family: a-space-italic;
  font-size: 2.5rem;
}

#location .flex {
  padding: 3rem;
  display: flex;
  gap: 3rem;
}

#location .flex img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

#location div {
  align-items: center;
  text-align: center;
}

#location .texto-ubicacion {
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 1rem;
}

#location .texto-ubicacion a {
  text-decoration: none;
  color: black;
}

#location .texto-ubicacion a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

/* Fin de ubicación */
@media screen and (max-width: 768px) {
  .menu-toggle {
    background-color: transparent;
    border: 0;
    z-index: 99999;
    display: block;
    position: fixed;
    top: 0.1rem;
    left: 0.1rem;
    padding: 0.5rem 1rem;
    border-radius: 25%;
  }

  #location .flex img {
    height: 20vh;
  }

  .menu-toggle.active {
    background-color: rgba(198, 197, 197, 0.5);
  }

  .menu-toggle:hover {
    background-color: rgba(198, 197, 197, 0.5);
  }

  nav.active div {
    display: flex !important;
  }

  nav div {
    flex-direction: column;
    display: none;
  }

  nav {
    height: auto;
    top: 0;
    width: min-content;
    margin-top: 8vh;
  }

  nav a {
    display: block;
    text-align: center;
  }

  #location .flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  #wrapper {
    width: 100vw;
  }
}
