::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

nav {
  width: 100vw;
  height: 5vh;
  background-color: #fff;
  position: fixed;
  top: 0;
}

.planets-details {
  background-color: #fff;
}
