:root {
  --year-earth: 365;
  --year-mars: 400;
  --year-saturn: 10759;
}

/* @keyframes orbit {
  to {
    transform: rotate(360deg);
  }
} */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.container {
  font-size: 10px;
  width: 40em;
  height: 40em;
  position: relative;
}

.planet {
  position: absolute;
  border-style: solid;
  /* border-color: white transparent transparent transparent */
  border-color: white;
  border-width: 0.1em 0.1em 0 0;
  border-radius: 50%;
}

.planet::before {
  content: "";
  position: absolute;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

.sun {
  position: absolute;
  top: 15em;
  left: 15em;
  width: 10em;
  height: 10em;
  background: rgb(255, 223, 0);
  background: radial-gradient(
    circle,
    rgba(255, 223, 0, 1) 0%,
    rgba(255, 159, 0, 1) 60%,
    rgba(255, 64, 0, 1) 100%
  );
  border-radius: 50%;
  box-shadow: 0 0 3em white;
}

.earth {
  top: 8em;
  /* border: 1px solid lightblue; */
  left: 8em;
  width: 24em;
  height: 24em;
  animation: orbit 36.5s linear infinite;
}

.earth::before {
  top: 1em;
  right: 2.8em;
  width: 3em;
  height: 3em;
  background-image: url("./earth-bg.svg");
}

.moon {
  top: -0.5rem;
  right: 0.5rem;
  width: 8em;
  height: 8em;
  animation: orbit 2.7s linear infinite;
}

.moon::before {
  top: 0.8em;
  right: 0.2em;
  width: 1.2em;
  height: 1.2em;
  background-color: silver;
}

.mars {
  top: 3em;
  /* border: 1px solid red; */
  left: 3em;
  width: 34em;
  height: 34em;
  animation: orbit 36.5s linear infinite;
  transform: rotate(30deg);
}

.mars::before {
  top: 3.9em;
  right: 2.8em;
  width: 3em;
  height: 3em;
  background-image: url("./mars-bg.svg");
}

.saturn {
  /* border: 1px solid red; */
  top: -2em;
  left: -2em;
  width: 44em;
  height: 44em;
  animation: orbit 36.5s linear infinite;
  transform: rotate(60deg);
}

.saturn::before {
  top: 3.2em;
  right: 2.8em;
  width: 6em;
  height: 6em;
  background-image: url("./saturn-bg.svg");
}
